html {
	margin: 0px;
	background: #fff;
	height: 100%;
}

body {
	margin: 0px;
	background: #fff;
	height: 100%;
}

.wrapper {
	width: 85%;
	min-height: 100%;
	position: relative;
	margin: 0 auto;
}

.header {
	height: 120px;
	margin: 0px auto;
}

.header-content {
	display: block;
	padding: 20px;
	vertical-align: middle;
}

.header-title {
	display: inline-block;
	font-size: 60px;
	vertical-align: middle;
}

.header-title-link {
	color: black;
	text-decoration: none;
}

.header-title-link:hover {
	color: #AADD00	;
	text-decoration: none;
	cursor: pointer;
}

.header-admin-icon {
	display: inline-block;
	width: 70px;
	height: 50px;
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}

.header-right {
	float: right;
	display: block;
	text-align: right;
	vertical-align: middle;
}

.header-user-icon {
	display: inline-block;
	width: 50px;
	width: 50px;
	vertical-align: middle;
	cursor: pointer;
}

.header-search {
	display: inline-block;
	vertical-align: middle;
}

.content {
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Selection */
.checkbox {
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	width: 30%;
}

#selection-title {
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
}

.selection-submit {
	display: block;
	margin: 20px auto;
	width: 200px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid black;
	font-family: Verdana;
	font-size: 1.5em;
	font-weight: bold;
}

/* Home */
.article-item {
	width: 100%;
	margin-top: 50px;
}

.article-body {
}

.article-description {
	width: 100%;
	text-align: right;
	border: solid 1px black;
	word-wrap: break-word;
	overflow: hidden;
	cursor: default !important;
}

.article-html {
	width: 60%;
	text-align: right;
	float: right;
	padding: 15px;
	clear: both;
	word-wrap: break-word;
	overflow: auto;
}

.article-zoom-holder {
	width: 600px;
	height: 600px;
	position: relative;
	float: left;
	display: inline-block;
	text-align: left;
	cursor: default !important;
}

.article-image-holder {
	width: 400px;
	height: 400px;
	position: relative;
	float: left;
	display: inline-block;
	text-align: left;
}

.article-image-holder>img {
	width: 300px;
	height: 300px;
	float: left;
	position: absolute;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	border-radius: 150px;
}

.controls img {
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
}

.controls {
	width: 100%;
	display: inline-block;
	float: left;
	padding-top: 300px;
	text-align: center;
}

.article-description iframe {
	width: 300px;
	height: 300px;
	position: relative;
	float: left;
	display: inline-block;
	box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	box-shadow: 0 0 12px rgba(0, 0, 0, .8);
}

.article-description ul {
	display: inline-block;
}

.article-description ul li {
	text-align: left;
}

.article-description a.read-forward {
	display: block;
	text-align: center;
	margin-top: 20px;
}

.article-tags {
	padding: 3px 15px;
	display: inline-block;
	width: 85%;
	margin: 50px 7.5%;
	text-align: center;
	background-color: black;
	border: solid 1px black;
	background-color: black;
}

.article-tags a {
	color: white;
	padding: 5px;
}

.article-title {
	display: inline-block;
	text-align: center;
	width: 75%;
	font-size: 32px;
	font-weight: bold;
}

.article-date {
	display: inline-block;
	width: 23%;
	text-align: right;
	font-size: 18px;
}

.favorite, .unfavorite {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.detail-article-button {
	width: 10%;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.article-edit input {
	display: block;
	margin: 10px auto;
	width: 95%;
}

.article-edit textarea {
	display: block;
	margin: 10px auto;
	width: 95%;
	min-height: 300px;
	margin: 10px auto;
}

.article-edit-button {
	display: block;
	width: 10%;
	text-align: center;
	margin: 20px auto;
}

.detail-user {
	display: inline-block;
	padding: 15px;
	margin-bottom: 50px;
}

.search-content {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

.search-category {
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-content {
	padding: 15px;
}

.login-content {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.pagination {
	background: #f2f2f2;
	padding: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
}

.page {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px
		rgba(0, 0, 0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.page:hover, .page.gradient:hover {
	background: #fefefe;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE),
		to(#f0f0f0));
	background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0);
}

.page.active {
	border: none;
	background: #616161;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .8);
	color: #f0f0f0;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

.page.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8),
		to(#e9e9e9));
	background: -moz-linear-gradient(0% 0% 270deg, #f8f8f8, #e9e9e9);
}

.pagination.dark {
	background: #414449;
	color: #feffff;
}

.page.dark {
	border: solid 1px #32373b;
	background: #3e4347;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .1), 0px 1px 3px
		rgba(0, 0, 0, .1);
	color: #feffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
	background: #3d4f5d;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085),
		to(#3d4f5d));
	background: -moz-linear-gradient(0% 0% 270deg, #547085, #3d4f5d);
}

.page.dark.active {
	border: none;
	background: #2f3237;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .1);
}

.page.dark.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f),
		to(#3e4347));
	background: -moz-linear-gradient(0% 0% 270deg, #565b5f, #3e4347);
}