@font-face {
	font-family: Drakkar;
	src: url('Drakkar.ttf');
}

@font-face {
	font-family: Sladkoeshka;
	src: url('Sladkoeshka.ttf');
}

html {
	margin: 0px;
	height: 100%;
	font-family: Sladkoeshka !important;
}

body {
	margin: 0px;
	height: 100%;
	background: #FFCC99;
}

.wrapper {
	min-height: 100%;
	position: relative;
	background: #989898;
	min-width: 460px;
	width: 75%;
	margin: 25px auto;
	padding-left: 10px;
	padding-right: 10px;
}

.content {
	padding-bottom: 40px;
}

.page-content {
	display: inline-block;
	width: 100%;
	background: #989898;
}

/* Header */
.header-content {
	display: inline-block;
}

.header-container {
	min-width: 460px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-left: -20px;
	margin-right: -20px;
}

.header {
	width: 60%;
	min-width: 420px;
	margin: 0 auto;
}

.header-line {
	display: block;
	clear: both;
	padding-top: 50px;
	text-align: center;
}

.header-link {
	border: 1px solid #ccc;
	background: black;
}

.header-line a {
	font-size: 39px;
	text-decoration: none;
}

.header-line a:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}

.header-home-link {
	color: #383838;
	text-decoration: none;
}

.header-home-link:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}

.header-line span {
	font-size: 39px;
}

.selected {
	color: black;
}

.unselected {
	color: #383838;
}

#photographer {
	display: inline-block;
	width: 55%;
	min-width: 300px;
	position: relative;
	float: left;
	font-size: 28px;
	margin-bottom: 3px;
	text-align: right;
}

#title {
	display: inline-block;
	float: left;
	width: 55%;
	min-width: 300px;
	position: relative;
	margin-top: -20px;
	clear: left;
	position: relative;
}

#phone {
	display: inline-block;
	float: right;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
	word-wrap: break-word;
	font-size: 28px;
}

#skype {
	display: inline-block;
	position: relative;
	clear: right;
	float: right;
	font-size: 28px;
	word-wrap: break-word;
	text-align: right;
	font-size: 28px;
}

/* Footer */
.footer-content {
	text-align: center;
	width: 100%;
}

.footer {
	width: 100%;
	height: 50px;
	position: absolute;
	text-align: center;
	bottom: 0px;
	left: 0px;
	margin-bottom: 5px;
}

/* Review */
.review-container {
	text-align: center;
}

/* Review form */
.review-form {
	display: inline-block;
	width: 60%;
	min-width: 400px;
	margin-top: 40px;
	margin-bottom: 50px;
	background: #FFFFFF;
	padding: 25px;
}

.error-field {
	background: rgba(255, 0, 0, 0.1);
}

.review-container textarea {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 54px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}

.name-line {
	margin-left: 15px;
}

.review-container input {
	width: 100%;
}

.review-container label {
	float: left;
	display: inline-block;
	margin-right: 5px;
}

.review-item-wrapper {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.review-field {
	display: block;
	margin-bottom: 10px;
}

.span-wrapping {
	display: block;
	overflow: hidden;
	padding-right: 5px;
	padding-left: 10px;
	padding-right: 5px;
}

/* Review item */
.review-item {
	display: inline-block;
	width: 60%;
	min-width: 400px;
	margin-bottom: 50px;
	background: #FFFFFF;
	padding: 25px;
}

.message {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	word-wrap: break-word;
}

.author {
	float: right;
	display: block;
	font-size: 26px;
	word-wrap: break-word;
}

.date {
	display: block;
	float: left;
}

.contact {
	display: block;
	float: right;
	clear: both;
	margin-bottom: 5px;
}

/* Detail Gallery */
.gallery-wrapper {
	display: block;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.gallery-content {
	display: block;
	margin-left: -20px;
	margin-right: -20px;
}

.gallery-title {
	font-size: 50px;
	margin-left: -20px;
	margin-bottom: 20px;
}

.middle-block {
	text-align: center;
	margin-bottom: 50px;
}

.gallery-items {
	text-align: center; margin-left : -20px;
	margin-right: -20px;
	margin-left: -20px;
}

.gallery-last {
	margin-right: 0 !important;
}

.gallery-items .gallery-image-container img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	background: green;
	vertical-align: middle;
}


.gallery-image-container {
	display: inline-block;
	width: 18.6%;
	margin-right: 1%;
	margin-bottom: 1%;
	background: red;
	cursor: pointer;
	vertical-align: middle;
}

.gallery-form {
	display: inline-block;
	width: 60%;
	min-width: 400px;
	margin: 50px 0px;
	background: #FFFFFF;
	padding: 25px;
}

.gallery-line {
	display: block;
	margin-bottom: 10px;
}

.gallery-button {
	display: block;
	float: right;
}

select, input[type=file], input[type=submit], button, input[type=button],
	input {
	font: 18px Sladkoeshka !important;
	font-family: Sladkoeshka;
}

#lift-me-up {
	color: #383838;
	text-decoration: none;
}

#lift-me-up:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}

.gallery-window {
	position: relative;
	width: 100%;
	height: 600px;
}

.gallery-window-items {
	display: block;
	margin: 0 auto;
	height: 100%;
	text-align: center;
}

.gallery-window-items .current {
	display: inline-block;
	margin-left: -20px;
	top: 25%;
	width: 80%;
	height: 80%;
	margin-right: -20px;
}

.gallery-window-items .current img {
	display: inline-block;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	background: green;
}

.gallery-window-items .hidden {
	display: inline-block;
	width: 0;
}

.gallery-window-items .hidden img {
	display: inline-block;
	width: 0;
	background: red;
}

.left-arrow {
	position: absolute;
	top: 25%;
	float: left;
	display: inline-block;
	width: 10%;
}

.right-arrow {
	position: absolute;
	top: 25%;
	right: 0; display : inline-block;
	width: 10%;
	display: inline-block;
}

ul {
	padding: 0;
	list-style-type: none;
}

ul li:before {
	content: "-";
	position: relative;
	left: -5px;
}

ul li {
	text-indent: -5px;
}

.gallery-category {
	display: inline-block;
	width: 60%;
	min-width: 460px;
	margin-left: -20px;
	margin-right: -20px;
}

.category-left {
	float: left;
	clear: none;
	width: 48%;
}

.category-right {
	float: right;
	clear: none;
	width: 48%;
}

.category-text {
	text-align: center;
}

.category-text-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.centerer {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.category-text-wrapper a {
	vertical-align: middle;
}

.category-name {
	color: #383838;
	text-decoration: none;
}

.category-name:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}

.sub-link {
	font-size: 28px;
	color: #383838;
	text-decoration: none;
}

.sub-link:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}

.category-image {
	
}

.works-container {
	margin: 50px -10px;
}

.works-image-item {
	width: 100%;
	max-height: 600px;
	margin-bottom: 50px;
	text-align: center;
}

.works-image-item img {
	position: relative;
	display: inline-block;
	max-width: 100%;
	max-height: 600px;
	height: auto;
	width: auto;
}

.review-admin-buttons {
	display: inline-block;
	float: left;
	width: 100%;
	clear: both;
	border: 1px solid black;
}

.review-admin-button {
	display: inline-block;
	margin: 5px 10px;
	font-size: 20px;
	color: #383838;
	text-decoration: none;
}

.review-admin-button:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}

.category-form {
	display: block;
	width: 100%;
	float: left;
	min-width: 400px;
	margin: 50px -20px;
	background: #FFFFFF;
	padding: 25px;
	clear: both;
}

/* Pagination */
.pagination {
	background: #f2f2f2;
	padding: 20px;
	margin-bottom: 20px;
}

.page {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px
		rgba(0, 0, 0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.page:hover, .page.gradient:hover {
	background: #fefefe;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE),
		to(#f0f0f0));
	background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0);
}

.page.active {
	border: none;
	background: #616161;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .8);
	color: #f0f0f0;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

.page.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8),
		to(#e9e9e9));
	background: -moz-linear-gradient(0% 0% 270deg, #f8f8f8, #e9e9e9);
}

.pagination.dark {
	background: #414449;
	color: #feffff;
}

.page.dark {
	border: solid 1px #32373b;
	background: #3e4347;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .1), 0px 1px 3px
		rgba(0, 0, 0, .1);
	color: #feffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
	background: #3d4f5d;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085),
		to(#3d4f5d));
	background: -moz-linear-gradient(0% 0% 270deg, #547085, #3d4f5d);
}

.page.dark.active {
	border: none;
	background: #2f3237;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .1);
}

.page.dark.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f),
		to(#3e4347));
	background: -moz-linear-gradient(0% 0% 270deg, #565b5f, #3e4347);
}