.pagination {
	background: #f2f2f2;
	padding: 20px;
	margin-bottom: 20px;
}

.page {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px
		rgba(0, 0, 0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.page:hover, .page.gradient:hover {
	background: #fefefe;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE),
		to(#f0f0f0));
	background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0);
}

.page.active {
	border: none;
	background: #616161;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .8);
	color: #f0f0f0;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

.page.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8),
		to(#e9e9e9));
	background: -moz-linear-gradient(0% 0% 270deg, #f8f8f8, #e9e9e9);
}

.pagination.dark {
	background: #414449;
	color: #feffff;
}

.page.dark {
	border: solid 1px #32373b;
	background: #3e4347;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .1), 0px 1px 3px
		rgba(0, 0, 0, .1);
	color: #feffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
	background: #3d4f5d;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085),
		to(#3d4f5d));
	background: -moz-linear-gradient(0% 0% 270deg, #547085, #3d4f5d);
}

.page.dark.active {
	border: none;
	background: #2f3237;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .1);
}

.page.dark.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f),
		to(#3e4347));
	background: -moz-linear-gradient(0% 0% 270deg, #565b5f, #3e4347);
}

body {
	margin: 0px;
	background: #fff;
}

.header {
	height: 50px;
	background: #F0F0F0;
	border: 1px solid #CCC;
	width: 960px;
	margin: 0px auto;
}

.content {
	width: 960px;
	background: #F0F0F0;
	border: 1px solid #CCC;
	height: 2000px;
	margin: 20px auto;
}

.header-link {
	border: 1px solid #ccc;
	background: black;
}

/* Selection */
.checkbox {
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	width: 30%;
}

#selection-title {
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
}

.selection-submit {
	display: block;
	margin: 20px auto;
	width: 200px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid black;
	font-family: Verdana;
	font-size: 1.5em;
	font-weight: bold;
}

/* Home */
.article-item {
	margin: 0 auto 100px auto;
	min-height: 500px;
	padding: 15px;
}

.article-body {
	width: 85%;
	margin: 0 7.5%;
	float: left;
}

.article-description {
	width: 100%;
	text-align: right;
	border: solid 1px black;
	padding: 15px;
	margin: 0 auto;
	word-wrap: break-word;
	overflow: auto;
}

.article-description img {
	width: 300px;
	height: 300px;
	float: left;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	border-radius: 150px;
}

.article-description ul {
	display: inline-block;
}

.article-description a.read-forward {
	display: block;
	text-align: center;
	margin-top: 20px;
}

.article-tags {
	padding: 3px 15px;
	display: inline-block;
	width: 85%;
	margin: 50px 7.5%;
	text-align: center;
	background-color: black;
	border: solid 1px black;
	background-color: black;
}

.article-tags a {
	color: white;
	padding: 5px;
}

.article-title {
	display: inline-block;
	text-align: center;
	width: 75%;
	font-size: 32px;
	font-weight: bold;
}

.article-date {
	display: inline-block;
	width: 23%;
	text-align: right;
	font-size: 18px;
}

.favorite, .unfavorite {
	display: block;
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
}