html {
	margin: 0px;
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	background: #FFCC99;
}

.wrapper {
	min-height: 100%;
	position: relative;
	background: #989898;
	min-width: 460px;
	width: 60%;
	margin: 25px auto;
}

.content {
	padding-bottom: 40px;
}

.page-content {
	display: inline-block;
	width: 100%;
	background: #989898;
}

/* Header */
.header-content {
	display: inline-block;
	min-width: 200px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 20px;
}

.header {
	text-align: center;
}

.header-line {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 50px;
}

.header-link {
	border: 1px solid #ccc;
	background: black;
}

.header-line a {
	font-size: 30px;
	text-decoration: none;
}

.header-line a:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}

.header-home-link {
	color: #383838;
	text-decoration: none;
}

.header-home-link:hover {
	color: #00A0C6;
	text-decoration: none;
	cursor: pointer;
}

.header-line span {
	font-size: 30px;
}

.selected {
	color: black;
}

.unselected {
	color: #383838;
}

#photographer {
	display: inline-block;
	position: relative;
	width: 50%;
	float: left;
	text-align: right;
	font-size: 22px;
	margin-bottom: 3px;
}

#title {
	display: inline-block;
	width: 50%;
	float: left;
	position: relative;
	text-align: right;
	font-family: 'Times New Roman';
	line-height: 35px;
	font-size: 50px;
	margin-top: -5px;
}

#phone {
	display: inline-block;
	float: right;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 40%;
	text-align: left;
	word-wrap: break-word;
	font-size: 22px;
}

#skype {
	display: inline-block;
	position: relative;
	width: 40%;
	min-width:180px;
	float: right;
	font-size: 22px;
	text-align: left;
}

/* Footer */
.footer-content {
	text-align: center;
	width: 100%;
}

.footer {
	width: 100%;
	height: 50px;
	position: absolute;
	text-align: center;
	bottom: 0px;
	left: 0px;
	margin-bottom: 5px;
}

/* Review */
.review-container {
	text-align: center;
}

/* Review form */
.review-form {
	display: inline-block;
	width: 60%;
	margin-top: 40px;
	margin-bottom: 50px;
	background: #FFFFFF;
	padding: 20px;
}

.review-container textarea {
	display: block;
	min-height: 50px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.name-line {
	margin-left: 15px;
}

.review-container input {
	width: 100%;
}

.review-container label {
	float: left;
	display: inline-block;
	margin-right: 5px;
}

.review-item-wrapper {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.review-field {
	display: block;
	margin-bottom: 10px;
}

.span-wrapping {
	display: block;
	overflow: hidden;
	padding-right: 5px;
	padding-left: 10px;
	padding-right: 5px;
}

/* Review item */
.review-item {
	display: inline-block;
	width: 60%;
	min-width: 60%;
	margin-bottom: 50px;
	background: #FFFFFF;
	padding: 20px;
}

.message {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	word-wrap: break-word;
}

.author {
	float: right;
	display: block;
	font-size: 26px;
	word-wrap: break-word;
}

.date {
	display: block;
	float: left;
}

/* Pagination */
.pagination {
	background: #f2f2f2;
	padding: 20px;
	margin-bottom: 20px;
}

.page {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px
		rgba(0, 0, 0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.page:hover, .page.gradient:hover {
	background: #fefefe;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE),
		to(#f0f0f0));
	background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0);
}

.page.active {
	border: none;
	background: #616161;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .8);
	color: #f0f0f0;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

.page.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8),
		to(#e9e9e9));
	background: -moz-linear-gradient(0% 0% 270deg, #f8f8f8, #e9e9e9);
}

.pagination.dark {
	background: #414449;
	color: #feffff;
}

.page.dark {
	border: solid 1px #32373b;
	background: #3e4347;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .1), 0px 1px 3px
		rgba(0, 0, 0, .1);
	color: #feffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
	background: #3d4f5d;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085),
		to(#3d4f5d));
	background: -moz-linear-gradient(0% 0% 270deg, #547085, #3d4f5d);
}

.page.dark.active {
	border: none;
	background: #2f3237;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .1);
}

.page.dark.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f),
		to(#3e4347));
	background: -moz-linear-gradient(0% 0% 270deg, #565b5f, #3e4347);
}