<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Console</title>
        <link rel="stylesheet" th:href="@{/resources/css/main.css}" />
    </head>
    <body>
    
	    <div class="wrapper">
	    
		    <div th:replace="header :: header"></div>
		    
		    <div class="content">
		    	<div class="profile-content login">
			        <h1 th:inline="text" class="inline-center">Hello, [[${#httpServletRequest.remoteUser}]]!</h1>
			        
			        <form th:action="@{/users}" method="get">
			        	<input type="submit" value="Users" class="admin-button"/>
			        </form>
			        
			        <form th:action="@{/articles}" method="get">
			        	<input type="submit" value="Articles" class="admin-button"/>
			        </form>
			        
			        <form th:action="@{/logout}" method="post">
			            <input type="submit" value="Sign Out" class="admin-button"/>
			        </form>
			      
		        </div>
		    </div>
		        
		    <div th:replace="footer :: footer"></div>
		    
	    </div>
	        
    </body>
</html>