<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
        <title>Users</title>
    </head>
    <body>
    <div th:replace="header :: header"></div>
<!-- Show another page with detail info and user edition/removing after clicking on specific user. -->
		<div th:each="user, userStatus : ${currentPage.getItems()}"
		th:if="${userStatus.index &lt; 5}">
		<span th:text="${user.uid}">Uid</span>
		<span th:text="${user.login}">Login</span>
		<div th:utext="${user.password}">Password</div>
		<span th:text="${user.email}">Email</span>
		<span th:text="${user.favoriteArticleHashes}">Favorite article hashes</span>
		<span th:text="${user.selectedChannels}">Selected channels</span>
		<span th:text="${user.selectedCategories}">Selected categories</span>
		<span th:text="${user.authType}">Auth Type</span>
		<span th:text="${user.isLoggedIn}">Is Logged in</span>
		<span th:text="${user.selectedChannels}">Login</span>
		<span th:text="${user.role}">Role</span>		
	</div>

	
	
	<div class="pagination dark">
		<a th:class="'page dark gradient'"
			th:if="${not currentPage.isFirst()}"
			th:href="@{${'/users'}(page=${currentPage.number-1})}">Previous
		</a>
		<a th:each="pageNo : ${#numbers.sequence(0, pages.size() - 1)}"
			th:class="${currentPage.number eq pageNo}? 'page dark gradient active' : 'page dark gradient'"
			th:text="${pageNo + 1}" th:href="@{${'/users'}(page=${pageNo})}">
		</a>
		
		<a th:if="${not currentPage.isLast()}"
			th:class="'page dark gradient'"
			th:href="@{${'/users'}(page=${currentPage.number+1})}">Next
		</a>
	</div>
		
        	<div th:replace="footer :: footer"></div>
        
    </body>
</html>