<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<script th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>

<title>Календарь</title>
</head>

<script th:inlinetype="text/javascript">
	$(document).ready(function() {
		$(".header-line a").each(function() {
			var id = $(this).attr('id');
			if (id == 'header-gallery') {
				$(this).addClass('selected');
				$(this).removeClass('unselected');
			} else {
				$(this).addClass('unselected');
				$(this).removeClass('selected');
			}
		});

	});
</script>

<body>
	<div class="wrapper">
		<div th:replace="header :: header"></div>

		<div class="content">
			<p>Раздел находится в стадии разработки.</p>
		</div>

		<div th:replace="footer :: footer"></div>

	</div>

</body>
</html>