<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:title="${sub.name}">Галерея</title>
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

<script th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

</head>

<script th:inlinetype="text/javascript">
	$(document).ready(function() {
		$(".menu a").each(function() {
			var id = $(this).attr('id');
			if (id == 'header-gallery') {
				$(this).addClass('selected');
				$(this).removeClass('unselected');
			} else {
				$(this).addClass('unselected');
				$(this).removeClass('selected');
			}
		});

		setupImageHeights();

		$(window).resize(function() {
			setupImageHeights();
		});

		$("#lift-me-up").click(function() {
			$("html, body").animate({
				scrollTop : 0
			}, "slow");
		});

		$(".gallery-window").hide();

		$(".gallery-image-container").each(function() {

			$(this).on("click", function() {

				var src = $(this).find("img").attr("src");

				$(".gallery-window-items div").each(function() {
					var imgSrc = $(this).find("img").attr("src");
					if (src === imgSrc) {
						$(this).addClass("current");
						$(this).removeClass("hidden");
					} else {
						$(this).addClass("hidden");
						$(this).removeClass("current");
					}
				});

				$(".gallery-window").height($(".gallery-wrapper").height());

				$(".gallery-wrapper").fadeOut(1000, function() {
					$(".gallery-window").fadeIn(1000);
					var image = $(".current img").first();
					fitImage(image);
					
					var realW = $(image).width();
		    		var realH = $(image).height();
		    		
		    		var maxWidth = $(image).parent().width();
		            var maxHeight = $(image).parent().height();
						
					if (realW >= realH) {
				        $(image).css("top", maxHeight / 2 - realH / 2);
					} 
				});

				$(".left-arrow").on("click", function() {
					setLeftImage();
					var image = $(".current img").first();
					fitImage(image);
					
					var realW = $(image).width();
		    		var realH = $(image).height();
		    		
		    		var maxWidth = $(image).parent().width();
		            var maxHeight = $(image).parent().height();
						
					if (realW >= realH) {
				        $(image).css("top", maxHeight / 2 - realH / 2);
					} 
				});

				$(".right-arrow").on("click", function() {
					setRightImage();
					var image = $(".current img").first();
					fitImage(image);
					
					var realW = $(image).width();
		    		var realH = $(image).height();
		    		
		    		var maxWidth = $(image).parent().width();
		            var maxHeight = $(image).parent().height();
						
					if (realW >= realH) {
				        $(image).css("top", maxHeight / 2 - realH / 2);
					} 
				});
				
				$("#take-me-back").on("click", function() {
					$(".gallery-window").hide();
					$(".gallery-wrapper").show();
				});
			});

		});

	});

	function setupImageHeights() {
		var width = $(document).width();
		var lineWidth = $(".gallery-items").width();

		$(".gallery-items .gallery-image-container").each(function(i) {
			var index = i + 1;

			if (800 > width) {
				$(this).width(lineWidth);
				$(this).removeClass("gallery-last");
			} else if (1200 > width) {
				$(this).width(lineWidth * 0.49);
				if (index % 2 == 0)
					$(this).addClass("gallery-last");
				else
					$(this).removeClass("gallery-last");
			} else if (1400 > width) {
				$(this).width(lineWidth * 0.32);
				if (index % 3 == 0)
					$(this).addClass("gallery-last");
				else
					$(this).removeClass("gallery-last");
			} else if (1600 > width) {
				$(this).width(lineWidth * 0.235);
				if (index % 4 == 0)
					$(this).addClass("gallery-last");
				else
					$(this).removeClass("gallery-last");
			} else {
				if (index % 5 == 0)
					$(this).addClass("gallery-last");
				else
					$(this).removeClass("gallery-last");
			}

			$(this).height($(this).width());
			

			$(".gallery-image-container img").each(function() {
				fitImage($(this));
			});

		});
	}
	
	function fitImage(image) {
	
        var ratio = 0;  
		var width = $(image).width();
		var height = $(image).height();
		
		var maxWidth = $(image).parent().width();
        var maxHeight = $(image).parent().height();    

		 
	        if(width > maxWidth){
	            ratio = maxWidth / width;   
	            $(image).css("width", maxWidth); 
	            $(image).css("height", height * ratio);  
	            height = height * ratio;   
	            width = width * ratio;   
	        }

	        
	        if(height > maxHeight){
	            ratio = maxHeight / height;
	            $(image).css("height", maxHeight);   
	            $(image).css("width", width * ratio);    
	            width = width * ratio;  
	            height = height * ratio;   
	        }
	        

	    
	    	$(image).on("load", function() {
	    		var realW = $(image).width();
	    		var realH = $(image).height();
					
				if (realW >= realH) {
			        $(image).css("top", maxHeight / 2 - realH / 2);
				} 

	    	});
	 
	}; 

	function setLeftImage() {
		var images = $(".inside-image");

		images.each(function(i) {
			if ($(this).hasClass("current")) {
				if (i == 0)
					return false;

				$(this).toggleClass("current hidden");

				var nextImageIndex = i - 1;
				images.eq(nextImageIndex).toggleClass("current hidden");
				return false;
			}
		});
	}

	function setRightImage() {
		var images = $(".inside-image");

		images.each(function(i) {
			if ($(this).hasClass("current")) {
				if (i == images.length - 1) {
					return false;
				}

				$(this).toggleClass("current hidden");

				var nextImageIndex = i + 1;
				images.eq(nextImageIndex).toggleClass("current hidden");
				i == images.length - 1;
				return false;
			}
		});
	}
</script>


<body>
	<div class="wrapper">

		<div th:replace="header :: header"></div>

		<div class="content">


			<div class="page-content">

				<div class="gallery-window">

					<div class="gallery-window-items">
						<div th:each="image, status : ${sub.images}" class="inside-image">
							<img th:src="@{/getImage (fileName=${image.name})}" />
						</div>
						
					</div>

					<img class="left-arrow" th:src="@{/resources/images/left.png}" />

					<img class="right-arrow" th:src="@{/resources/images/right.png}" />

					<div id="take-me-back"  class="gallery-title middle-block gallery-window-back">Назад</div>


				</div>

				<div class="gallery-wrapper">
					<div th:text="${sub.name}" class="gallery-title"></div>
					<div class="gallery-items">
						<div class="gallery-image-container"
							th:each="image, status : ${sub.images}">
							<img th:src="@{/getImage (fileName=${image.name})}" />
						</div>
					</div>
					
					

					<div class="review-container" sec:authorize="hasRole('ROLE_ADMIN')">
						<div class="gallery-form">
							<form th:action="@{/saveImage}" th:object="${imageModel}"
								method="post" enctype="multipart/form-data">
								<input type="hidden" name="subcategory" th:value="${sub.name}" />
								<div class="gallery-line">
									<label th:for="name">Название:</label> <span
								class="span-wrapping"> <input type="text"
										th:field="*{name}" /> </span>
								</div>
								<div class="gallery-line">
									<input type="file" th:field="*{fileImage}" class="gallery-line" /> <input
										type="submit" class="gallery-line"  />
								</div>
							</form>
						</div>


					</div>
					
					<div id="lift-me-up" class="gallery-title middle-block">Наверх</div>


				</div>

			</div>
		</div>

		<div th:replace="footer :: footer"></div>
	</div>
</body>
</html>