<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<title th:text="${user.login}">User</title>

</head>
<body>

	<div class="wrapper">
	
		<div th:replace="header :: header"></div>
		
		<div class="content">
		
			<form th:action="@{/updateUser}" method="post" th:object="${user}" accept-charset="UTF-8" class="user-edit">
				 
					<label for="login">Login: </label><input type="text" class="user-field-input" th:field ="*{login}" />
					<label for="password">Password: </label><input type="text" class="user-field-input" th:field="*{password}"/>
		 			<label for="email">Email: </label><input type="text" class="user-field-input" th:field="*{email}"/>
		 			<label for="role">Role: </label><input type="text" class="user-field-input" th:field="*{role}"/> <!-- Replace with list selection for roles -->
					<div th:field="*{favoriteArticleHashes}" th:each="fav, stat : *{favoriteArticleHashes}">
						<label th:for="*{favoriteArticleHashes[__${stat.index}__]}}">Uid</label><input type="text" class="user-field-input"  th:field="*{favoriteArticleHashes[__${stat.index}__]}" />
					</div> 
						
		
				<input th:class="'page dark gradient article-edit-button'" type="submit" value="Update user" />
				
				<a th:class="'page dark gradient'" th:href="@{${'/removeUser'}(userUid=${user.uid})}">Remove</a>
				
			</form>
			
			
		</div>
		
		<div th:replace="footer :: footer"></div>
		
	</div>

</body>
</html>