<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Галерея</title>
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<script th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

</head>

<script th:inlinetype="text/javascript">
	$(document).ready(function() {
		$(".header-line a").each(function() {
			var id = $(this).attr('id');
			if (id == 'header-gallery') {
				$(this).addClass('selected');
				$(this).removeClass('unselected');
			} else {
				$(this).addClass('unselected');
				$(this).removeClass('selected');
			}
		});

		setupImageHeights();

		$(window).resize(function() {
			setupImageHeights();
		});

		$("#lift-me-up").click(function() {
			$("html, body").animate({
				scrollTop : 0
			}, "slow");
		});
	});

	function setupImageHeights() {
		var width = $(document).width();
		var imgWidth = $(".gallery-category").width();

		$(".category-image").each(function() {

			if (1200 > width) {
				$(this).width(imgWidth);
				$(".category-text").width(imgWidth);
			} else {
				$(this).width(imgWidth * 0.49);
				$(".category-text").width(imgWidth * 0.49);
			}

			$(this).height($(this).width());
			$(".category-text").height($(this).width());
		});
	}
</script>


<body>
	<div class="wrapper">

		<div th:replace="header :: header"></div>

		<div class="content">

			<div class="page-content">

				<div class="gallery-wrapper">
					<div class="gallery-content">
						<div class="gallery-category"
							th:each="category, status : ${categories}">
							<img
								th:class="${status.odd}? 'category-right category-image' : 'category-left category-image' "
								th:src="@{/getImage (fileName=${category.name})}" />
							<div
								th:class="${status.odd}? 'category-left category-text' : 'category-right category-text'">
								<div class="centerer"></div>
								<div class="category-text-wrapper">
									<a th:text="${category.name}"
										class="gallery-title category-name"
										th:href="@{${'/galleryCategory'}(categoryName=${category.name})}"></a>

									<ul class="category-list">
										<li th:each="sub : ${category.subcategories}"><a
											th:text="${sub.name}"
											th:href="@{${'/detailGallery'}(subcategory=${sub.name})}"
											class="sub-link"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<div class="review-container" sec:authorize="hasRole('ROLE_ADMIN')">
						<div class="gallery-form">
							<form th:action="@{/saveCategory}" th:object="${categoryModel}"
								method="post" enctype="multipart/form-data">
								<div class="gallery-line">
									<label th:for="name">Название:</label> <span
										class="span-wrapping"> <input type="text"
										th:field="*{category}" class="gallery-line" />
									</span>
								</div>
								<div class="gallery-line">
									<input type="file" th:field="*{fileImage}" class="gallery-line" />
									<input type="submit" class="gallery-line" />
								</div>
							</form>

						</div>

					</div>

					<div id="lift-me-up" class="gallery-title">Наверх</div>
				</div>

			</div>
		</div>

		<div th:replace="footer :: footer"></div>
	</div>
</body>
</html>