<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript">
	function updateHeader() {
		$(".menu a").each(function() {
			var id = $(this).attr('id');
			$(this).addClass('unselected');
			$(this).removeClass('selected');
		});
	};
</script>

<body>

	<div th:fragment="header" class="header">

		<script type="text/javascript">
			$(document).ready(function() {
				updateFontSizes();

				$(window).resize(function() {
					updateFontSizes();
				});
			});

			function updateFontSizes() {
				var minTitleSize = 42;
				var minLeftTextSize = 18;
				var minRightTextSize = 18;
				var minUrlSize = 20;

				var collapseSize = 800;

				var width = $(window).width();
				
				// LEFT HEADER TEXT
				var leftTextFontSize = width / 28;

				$('.font-left-text').each(function() {
					if (minLeftTextSize > leftTextFontSize)
						$(this).css('font-size', minLeftTextSize);
					else
						$(this).css('font-size', leftTextFontSize);
				});
				
				// RIGHT HEADER TEXT
				var rightTextFontSize = width / 35;

				$('.font-right-text').each(function() {
					if (minRightTextSize > rightTextFontSize)
						$(this).css('font-size', minRightTextSize);
					else
						$(this).css('font-size', rightTextFontSize);
				});


				// URL
				var urlFontSize = width / 36.5;
				$('.font-url').each(function() {
					if (minUrlSize > urlFontSize)
						$(this).css('font-size', minUrlSize);
					else
						$(this).css('font-size', urlFontSize);
				});

				var titleFontSize = width / 22.5;
				if (collapseSize > width || minTitleSize > titleFontSize) {
					$('.font-title').css('font-size', minTitleSize);
					$('.font-title').css('line-height', minTitleSize + "px");
				} else {
					$('.font-title').css('font-size', titleFontSize);
					$('.font-title').css('line-height', titleFontSize + "px");
				}

			}
		</script>


		<div class="header-container">
			<div class="header-content page-content">
				<div id="photographer" class="font-left-text">фотограф</div>
				<div id="phone" class="font-right-text">+375(29)7095777</div>
				<div id="skype" class="font-right-text">Skype: Amashilda</div>
				<div id="title" class="font-title">
					<a onclick="updateHeader()" class="header-home-link"
						th:href="@{'/'}">Мария Пашкина</a>
				</div>




				<div class="header-line">

					<a id="header-about" class="unselected font-url"
						th:href="@{'/about'}">Обо мне</a> <span class="font-url">/</span>
					<a id="header-works" class="unselected font-url"
						th:href="@{'/works'}">Портфолио</a> <span class="font-url">/</span>
					<a id="header-gallery" class="unselected font-url"
						th:href="@{'/detailGallery'}">Галерея</a> <span class="font-url">/</span>
					<a id="header-review" class="unselected font-url"
						th:href="@{'/review'}">Отзывы</a> <span class="font-url">/</span>
					<a id="header-contacts" class="unselected font-url"
						th:href="@{'/contacts'}">Контакты</a>

				</div>
			</div>
		</div>

	</div>

</body>

</html>