<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<script th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>

<title>Home</title>
</head>
<body>
	<div class="wrapper">
		<div th:replace="header :: header"></div>

		<div class="content">
		
			
		</div>

		<div th:replace="footer :: footer"></div>

	</div>

</body>
</html>