<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<script th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<script type="text/javascript">
	$(document).ready(function() {
		$(".article-description a").each(function() {
			var text = $(this).text();
			if (text.indexOf("Читать дальше") >= 0)
				$(this).addClass("read-forward");
		});
		
		$(".article-item").each(function() {
			var item = $(this);
			var zIndex = 25;
			var margin = 25;
			item.find(".article-description div").first().addClass("article-html");
			item.find(".article-description img").each(function() {
				var img = $(this);
				img.css({"z-index": zIndex});
				img.css({"margin-left": margin});
				zIndex += 25;
				margin += 25;
				
				var holder = item.find(".article-image-holder");
				img.prependTo(holder);
			});
			
			var description = item.find(".article-html");
			$(description).html($(description).find('img').remove().end().html());
		});


		
	  /*   but i've tried
	  		
	  		$('iframe').each(function(){
	        function injectCSS(){
	        	$iframe.contents().find('head').append($('<link/>', {
					rel : 'stylesheet',
					href : '/spring/resources/css/iframe.css',
					type : 'text/css'
				}));
	        }

	        var $iframe = $(this);
	        $iframe.on('load',function(){
	            injectCSS();
	        });
	        injectCSS();
	    });
 	*/
	});

	function ajaxFavoriteArticle(aid, uid, button) {

		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$.ajax({
			type : "POST",
			url : "/spring/favoriteArticle",
			headers : {
				'Accept' : 'application/json',
				'Content-Type' : 'application/json'
			},
			data : '{"aid":"' + aid + '","uid":"' + uid + '"}',
			dataType : 'json',
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			success : function(response) {
				var isFavorite = response["nowFavorite"];
				$(button).toggleClass("favorite unfavorite");
				if (isFavorite == "true")
					$(button).attr("value", "Unfavorite");
				else
					$(button).attr("value", "Favorite");
			},
			error : function(e) {
				console.log(e)
			}
		});
	}
</script>

<title>Home</title>
</head>
<body>
	<div class="wrapper">

		<div th:replace="header :: header"></div>

		<div class="content">

			<div class="pagination dark">
				<a th:class="'page dark gradient'"
					th:if="${not currentPage.isFirst()}"
					th:href="@{${'/home'}(page=${currentPage.number-1})}">Previous
				</a> <a th:each="pageNo : ${#numbers.sequence(0, pages.size() - 1)}"
					th:class="${currentPage.number eq pageNo}? 'page dark gradient active' : 'page dark gradient'"
					th:text="${pageNo + 1}" th:href="@{${'/home'}(page=${pageNo})}">
				</a> <a th:if="${not currentPage.isLast()}"
					th:class="'page dark gradient'"
					th:href="@{${'/home'}(page=${currentPage.number+1})}">Next </a>
			</div>

			<div th:each="article, articleStatus : ${currentPage.getItems()}"
				th:if="${articleStatus.index &lt; 5}" class="article-item">

				<div class="article-body">
					<div class="article-title">
						<span th:text="${article.title}">Title</span>
					</div>

					<div class="article-date">
						<span th:utext="${article.getDateFormatted()}">date</span>
					</div>

					<div class="article-description">
						<div th:utext="${article.description}">text</div>
						<div class="article-image-holder"> </div>

						<div th:if="${user != null}">
							<input type="button"
								th:value="${user.isFavoriteArticle(article.aid)? 'Unfavorite' : 'Favorite'}"
								th:onclick="' ajaxFavoriteArticle(\'' + ${article.aid}  + '\', \'' + ${user.uid} + '\' ,this) '"
								th:class="${user.isFavoriteArticle(article.aid)? 'unfavorite' : 'favorite'}" />
						</div>

					</div>



				</div>

				<div class="article-tags">
					<a th:each="category : ${article.categories}" th:text="${category}"
						th:href="@{${'/category'}(category=${category})}"> </a>
				</div>

			</div>


			<div class="pagination dark">
				<a th:class="'page dark gradient'"
					th:if="${not currentPage.isFirst()}"
					th:href="@{${'/home'}(page=${currentPage.number-1})}">Previous
				</a> <a th:each="pageNo : ${#numbers.sequence(0, pages.size() - 1)}"
					th:class="${currentPage.number eq pageNo}? 'page dark gradient active' : 'page dark gradient'"
					th:text="${pageNo + 1}" th:href="@{${'/home'}(page=${pageNo})}">
				</a> <a th:if="${not currentPage.isLast()}"
					th:class="'page dark gradient'"
					th:href="@{${'/home'}(page=${currentPage.number+1})}">Next </a>
			</div>

		</div>

		<div th:replace="footer :: footer"></div>

	</div>

</body>
</html>