
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />
<script th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>

<title>Вход</title>
</head>
<body>
	<div class="wrapper">
		<div th:replace="header :: header"></div>

		<div class="content">

			<div class="review-container">
				
				<form th:action="@{/login}" method="post" class="review-form">
				
					<div>
						<label class="review-field" for="username"> User Name: </label> <span
							class="span-wrapping"> <input type="text" name="username" class="review-field" />
						</span>

					</div>
					<div>
						<label class="review-field" for="password"> Password: </label> <span
							class="span-wrapping"> <input type="password"
							name="password" class="review-field" />
						</span>

					</div>
					<div class="review-field">
						<input type="submit" value="Sign In" />
					</div>
					
					<div class="review-field" th:if="${param.error}">Неверная комбинация
					логин/пароль.</div>
				</form>
			</div>
		</div>

		<div th:replace="footer :: footer"></div>

	</div>

</body>
</html>