<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Profile</title>
        <link rel="stylesheet" th:href="@{/resources/css/main.css}" />
    </head>
    <body>
    <div th:replace="header :: header"></div>
    <div class="profile-content">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        
        <form th:action="@{/selection}" method="get">
            <input type="submit" value="To selection"/>
        </form>
        
        <form th:action="@{/favorites}" method="get">
        	<input type="submit" value="To favorites"/>
        </form>
        
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
    </div>
        
        	<div th:replace="footer :: footer"></div>
        
    </body>
</html>