<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Register</title>
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

</head>
<body>

	<div class="wrapper">

		<div th:replace="header :: header"></div>

		<div class="content">


			<div th:class='login'>
				<form th:action="@{/saveUser}" method="post" th:object="${user}">
					<input th:field="*{login}" placeholder='Username' type='text'
						class="register-field" /> <input id='pw' th:field="*{password}"
						placeholder='Password' type='password' class="register-field" />
					<input th:field="*{email}" placeholder='E-Mail Address' type='text'
						class="register-field" /> <input class="register-field"
						type='submit' value='Register' />
				</form>
			</div>

		</div>

		<div th:replace="footer :: footer"></div>

	</div>

</body>
</html>