<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Add review</title>
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

<script th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

</head>

<script th:inlinetype="text/javascript">
	$(document).ready(
			function() {
				$(".menu a").each(function() {
					var id = $(this).attr('id');
					if (id == 'header-review') {
						$(this).addClass('selected');
						$(this).removeClass('unselected');
					} else {
						$(this).addClass('unselected');
						$(this).removeClass('selected');
					}
				});
				
				setupFormSubmit($(".review-form"));

				$(".review-form textarea").keyup(
						function(e) {
							$(this).height(42);
							$(this).height(
									this.scrollHeight
											+ parseFloat($(this).css(
													"borderTopWidth"))
											+ parseFloat($(this).css(
													"borderBottomWidth")));
						});

			});

	function setupFormSubmit($form) {

		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		$form.on('submit', function(e) {
			e.preventDefault();
			$.ajax({
				url : $form.attr('action'),
				type : 'post',
				data : $form.serialize(),
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token);
				},
				success : function(response) {
					if ($(response).hasClass("review-item")) { // validation success
						$form.find("input[type=text], textarea").val(""); // clear fields
						$form.find("input[type=text], textarea").removeClass(
								"error-field"); // clear error classes
						$form.find("div").eq(2).remove(); // remove error messages

						var textarea = $form.find("textarea");
						textarea.height(42);
						textarea.height(textarea.scrollHeight
								+ parseFloat($(textarea).css("borderTopWidth"))
								+ parseFloat($(textarea).css(
										"borderBottomWidth")));
						
						var id = $form.find(".id").val()
						if (typeof id !== "undefined") {
							$form.replaceWith(response);
						} else {

							$(".review-container").eq(1).prepend(response); // inject new review
							$(".review-container").eq(1).children().first().hide(); // animate it
							$(".review-container").eq(1).children().first()
									.slideDown(2000);
						}
					} else { // validation error
						$('body').html(response); // refresh page with errors
					}
				},
				error : function(e) {
					console.log(e)
				}
			});
		})
	};

	function showEdit(edit) {
		$form = $(".review-form").first().clone();
		$item = $(edit).parent().parent().parent();
		var author = $item.find(".author").text();
		var message = $item.find(".message").text();
		var date = $item.find(".date").text();
		var contact = $item.find(".contact").text();
		var id = $item.find(".id").text();
		
		var tempItem = $item.clone();
		
		$item.hide();

		$item.replaceWith($form);
		
		
		$form.find("#author").val(author);
		$form.find("#message").val(message);
		$form.find("#contact").val(contact);
		$form.find("input[type=submit]").val("Готово");
		var $button = $form.find("input[type=submit]").clone().attr('type', 'button');
		$button.val("Назад");
		$button.on("click", function() {
			$form.replaceWith(tempItem);
		});
		
		$form.append($button);
		
		$form.append(tempItem.find(".id").clone());
		
		setupFormSubmit($form);	
	}
</script>


<body>
	<div class="wrapper">

		<div th:replace="header :: header"></div>

		<div class="content">

			<div class="page-content">

				<div class="review-container">
					<form th:action="@{/addReviewAsync}" method="post"
						th:object="${review}" class="review-form page-content">
						<div class="review-line name-line">
							<label th:for="author" class="review-field">Имя:</label> <span
								class="span-wrapping"><input th:field="*{author}"
								type='text' class="review-field" th:errorclass="error-field" />
							</span>
						</div>
						<div class="review-line">
							<label>E-mail:</label> <span class="span-wrapping"><input
								th:field="*{contact}" type='text' class="review-field"
								th:errorclass="error-field" /></span>
						</div>

						<textarea th:field="*{message}" placeholder='Текст сообщения'
							class="review-field" th:errorclass="error-field"> </textarea>

						<input class='review-field' type='submit' />

						<div th:if="${#fields.hasAnyErrors()}">
							<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
						</div>
					</form>

				</div>
				<div class="review-container">
					<div th:each="review, status : ${currentPage.getItems()}"
						th:if="${status.index &lt; 5}" class="review-item-wrapper">
						<div th:fragment="review" th:object="${review}"
							class="review-item page-content">
							<div class="message" th:utext="${review.message}">Message</div>
							<div class="author" th:text="${review.author}">Author</div>
							<div class="date" th:utext="${review.date}">Date</div>
							<div class="contact" th:utext="${review.contact}">Contact</div>
							<input class="id" name="id" type="hidden" th:value="${review.id}"></input>


							<div class="review-admin-buttons" th:if="true">
								<div class="review-admin-button">
									<a class="review-admin-button"
										th:href="@{${'/hideReview'}(id=${review.id})}">Скрыть </a>
								</div>
								<div class="review-admin-button">
									<a class="review-admin-button"
										th:href="@{${'/removeReview'}(id=${review.id})}">Удалить </a>
								</div>
								<div class="review-admin-button">
									<a class="review-admin-button" onclick="showEdit(this)">Редактировать
									</a>
								</div>
							</div>
						</div>


					</div>
				</div>

			</div>
		</div>

		<div th:replace="footer :: footer"></div>
	</div>
</body>
</html>