<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
  
    <div th:fragment="header">
      <a th:href="test">test</a>
            <a th:href="test">test</a>
            <p>Click <a th:href="@{/admin}">here</a> to see a greeting.</p>
      
            <a th:href="test">test</a>
      
            <a th:href="test" th:class="'header-link'">test</a>
            <a th:href="test">test</a>
            <a th:href="test">test</a>
            <a th:href="test">test</a>
            <a th:href="test">test</a>
      
    </div>
  
  </body>
  
</html>